@model IEnumerable<Monarch.Models.ButterflyTrackingContext.ReporterSighting>

@{
    ViewBag.Title = "Index";
}

<h2>Sightings</h2>
<p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Create")" role="button">Create a new sighting...</a>
</p>
<script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 100%; min-height: 80vh; height: 100%;'>
    <object class='tableauViz' width="1170" height="700" style='display:none;'>
        <param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F' />
        <param name='site_root' value='&#47;t&#47;butterflytracking' />
        <param name='name' value='Sightings&#47;Sightings' />
        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
        <param name='showVizHome' value='n' />
        <param name='bootstrapWhenNotified' value='y' />
        <param name='filter' value='%3AopenAuthoringInTopWindow=true' />
        <param name='filter' value='%3AbrowserBackButtonUndo=true' />
        <param name='filter' value='%3AreloadOnCustomViewSave=true' />
        <param name='filter' value='%3AshowShareOptions=true' />
    </object>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reporter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SightingFileUpload.SightingFileUploadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateProvince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reporter.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SightingFileUpload.SightingFileUploadId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateProvince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReporterSightingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReporterSightingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReporterSightingId })
        </td>
    </tr>
}

</table>
