@model Monarch.Models.ButterflyTrackingContext.SightingFileUpload

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SightingFileUpload</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReporterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReporterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

    </dl>
</div>

@if (Model.Log != null)
{
    <table>
        @foreach(var errorString in Model.Log)
        {
            <tr><td>@errorString.Error</td></tr>
        }
    </table>
}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SightingFileUploadId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
