@model IEnumerable<Monarch.Models.ButterflyTrackingContext.MonitorSighting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Butterfly.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monitor.UniqueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SightingFileUpload.SightingFileUploadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileUploadId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Butterfly.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monitor.UniqueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SightingFileUpload.SightingFileUploadId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileUploadId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MonitorSightingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MonitorSightingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MonitorSightingId })
        </td>
    </tr>
}

</table>
